.main-container {
    background-color: var(--main-container-background-color);
    width: 562px;
    min-height: 402px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.main-container::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 2px;
    right: 2px;
    height: 5px;
    z-index: -1;
    background-color: var(--main-container-background-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 4px;
    right: 4px;
    height: 10px;
    z-index: -2;
    background-color: var(--main-container-background-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
