/*в процессе
еще надо:
починить кнопочки
разобраться с бордером
доступность элементов при управлении с клавиатурой
что-то еще*/

:root {
	--border-color: #E6E6E6;
	--header-color: #CCCCCC;
	--placeholder-color: #CCCCCC;
	--item-text-color: #666666;
	--body-background-color: #F2F2F2;
	--main-container-background-color: #FFFFFF;
	--selected-tab-border-color: #EBDFDF;
	--hovered-item-color: #FAFAFA;
	--button-background-color: #FFFFFF;
	--footer-text-color: #888888;
}

body {
    background-color: var(--body-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	font-family: Roboto, sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: 200;
    color: var(--header-color);
    margin-top: 0;
    margin-bottom: 0;
}

.main-container {
    background-color: var(--main-container-background-color);
    width: 562px;
    min-height: 402px;
    /*замечание про фиксированные размеры помню, просто пока не знаю, как это решить*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-spacing: 0;
}

.new-task {
    height: 62px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
}

.toggle-btn {
    background: url(../icons/select-all.png) no-repeat;
    background-size: 28px 16px;
    background-position: center;
    background-color: var(--button-background-color);
	width: 62px;
    height: 100%;
    border: none;
}


/*а чтобы проверить, что оно работает, надо купить мак..?*/
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .toggle-btn {
    	background: url(../icons/select-all@2x.png) no-repeat;
    	background-size: 28px 16px;
    	width: 28px;
		height: 16px;
	    border: none;
	    margin-left: 17px;
		margin-right: 17px;
    }
}

.toggle-btn:hover {
	border: 1px dashed;
}

input[type="text"] {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 100%;
}

::placeholder {
    color: var(--placeholder-color);
}


main {
	/*height: 74%;*/
}

ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
    min-height: 296px;
}

li {
	/*height: 20%;*/
	min-height: 62px;
}

span {
	overflow-wrap: break-word;
}

.task-item {
    font-weight: 300;
    font-size: 24px;
    text-align: left;
    color: var(--item-text-color);
    min-height: 62px;
    box-shadow: inset 0px -1px 0px #E6E6E6;
    /*border: 1px solid #E6E6E6;
    /*с бордером что-то пошло не так...(((*/

    display: flex;
    align-items: center;
  	flex-direction: row;
  	justify-content: space-between;
}



/*над красивыми чекбоксами пока думаю*/
input[type="checkbox"] {
    margin: 11px 11px;
}

.custom-checkbox:checked + span {
	color: var(--item-text-color);
	text-decoration: line-through;
}

.task {
    width: 100%
}

.remove-btn {
    background: url(../icons/close.png) no-repeat;
    background-size: 20px 20px;
	width: 62px;
    height: 62px;
    background-position: center
	border: none;
    visibility: hidden;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .remove-btn {
    	background: url(../icons/close@2x.png) no-repeat;
    	background-size: 20px 20px;
    	width: 20px;
		height: 20px;
		border: none;
	    margin-right: 11px;
	    visibility: hidden;
    }
}

.remove-btn:hover {
	border: 1px dashed;
}

li:hover {
	background-color: var(--hovered-item-color);
}

li:hover .remove-btn {
	visibility: visible;
}

footer {
    height: 44px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;

    color: var(--footer-text-color);
    border: 1px solid var(--border-color);
}

.task-counter {
    margin-left: 12px;
}

.tabs-block {
	width: 35%;
    display: flex;
  	justify-content: space-between;
}

.radio-btn input[type="radio"] {
	display: none;
}

.radio-btn label {
	padding: 2px 5px;
	border: 1px solid transparent;
}

.radio-btn input[type="radio"]:checked + label {
	border: 1px solid var(--selected-tab-border-color);
    border-radius: 5px;
}

.clear-btn {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--clear-button-text-color);
    background-color: var(--button-background-color);
    border: none;
    margin-right: 12px;
}

.clear-btn:hover {
    text-decoration: underline;
}